.banner {
    width: 100px;
    height: 100px;
    background-color: hotpink;
}


.box {
    width: 100px;
    height: 100px;
    background-image: url(../assets/logo_small.png);
}

.box2 {
    width: 100px;
    height: 100px;
    background-image: url(../assets/1.gif);
}